.settings/*
.project
.buildpath
logs/*
upload/*
temp/*
app/sitemapSync.sh
config/config.php
config/sharding.php
config/shardingService.php
vendor/Categoryzator/config.php
vendor/vendor/*
vendor/temafey
vendor/ruflin
vendor/tieste
vendor/composer/*
vendor/autoload.php
source/facebook/id.txt
source/facebook/query.txt
composer.lock
.idea/*

